
@{
    ViewBag.Title = "PHP";
}

<h2>PHP</h2>

<div class="row">
    <div class="col-md-4">
        @{ Html.RenderAction("SideBar");}
    </div>

    <div class="col-md-8">
        <p>Lorem Naval Kindergarten, Hamla, situated at Nausena Baug, INS Hamla, Marve Madh Road, Malad (W), Mumbai-400095, is a thriving pre-primary institution that prioritizes the overall development of young children. Led by Principal Mrs. Sangeeta Sawant, the school is home to 104 eager learners who benefit from the expertise of 6 dedicated teaching staff. The school’s curriculum is designed to spark curiosity and foster a lifelong passion for learning in a nurturing and secure environment. With a focus on building strong educational foundations, Naval Kindergarten, Hamla, is committed to shaping confident, capable, and compassionate individuals.</p>
    </div>
</div>